.Addcart{
    position: absolute;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: .266667rem;
    .cart-top{
        display: flex;
        .cart-img{
            img{
                width: 2.266667rem;
                height: 2.266667rem;
                border-radius: .266667rem;
            }

        }
        .card-info{
            flex: 1;
            display: flex;
            justify-content: space-between;
            .cart-text{
                margin-left: .533333rem;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .cart-title{
                    margin-top: .266667rem;
                   
                }
                .cart-pirce{
                    color: 0;
                    font-size: .426667rem;
                }
            }

            .cart-close{
                width: 1.6rem;
                height: 1.333333rem;
                display: flex;
                justify-content: flex-end;
                i{
                    font-weight: bold;
                    font-size: .533333rem;
                }
            }
        }


    }


    .card-content{
       height: 10.666667rem;
       overflow-y: auto;
       &::-webkit-scrollbar { width: 0 !important }
       
        .title{
            margin-top: .266667rem;
        }
        ul{
            margin-top: .266667rem;
            display: flex;
            flex-wrap: wrap;
            position: fixed;
            height: 10.666667rem;
            overflow-y:auto;
            .img{
                // background-color: #f0f0f0;
                // border-radius: .2rem;
                // border: 1px solid #f0f0f0;
                // color: #474747;
                text-align: center;
                margin-right: .213333rem;
                bottom: 0;
                left: 0;
                .hezi{
                   position: relative;
                    &>img{
                        width: 2.133333rem;
                        height: 2.133333rem;
                        border-radius: .266667rem;
                    }
                }
                
                
                }
                .checkedIcon{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width:.8rem;
                    height: .8rem;
                    background-color: rgba(0, 0, 0, 0.3);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    transform: translate(-50%,-50%);
                    i{
                        color: white;
                    }
                }
                
            
            

           
           
            .text{
           
                p{
                    width: 2.133333rem;
                    height: .8rem;
                    line-height: .8rem;
                     background-color: #f0f0f0;
                    border-radius: .2rem;
                    border: 1px solid #f0f0f0;
                    color: #474747;
                    text-align: center;
                    margin-bottom: .266667rem;
                    margin-right: .213333rem;
                    overflow: hidden;
                    &.checked{
                       background-color: white;
                       border: 1px solid #934d91;
                       color: #934d91; 
                    }
                }
            }
        }
    }

    .card-bottom{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    
        .card-bottom-wrap{
            .card-size{
                padding: 0.533333rem;
                display: flex;
                justify-content: space-between;
                .size-checked{
                    
                    span{
                      
                        background: #f0f0f0;
                        border: 1px solid #f0f0f0;
                        width: 1.866667rem;
                        height: .8rem;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        border-radius: .4rem;
                        display: inline-block;
                        margin-right: .266667rem;
                        &.active{
                            color: #934d91;
                            border: 1px solid #934d91;
                            background-color: white;
                        }
                    }

                }
            }

            .card-submit{
                height: 1.333333rem;
                line-height: 1.333333rem;
                text-align: center;
                color: white;
                background-color: #934d91;
            }
        }
    }


}
.AddcartQty{
    
    .mask{
        background-color: rgba(0, 0, 0, 0.3);
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 998;
        width: 100%;
        height: 100%;
    }
    .card-dialog{
        background-color: white;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999;
        width: 100%;
      
      
         
            .card-dialog-title{
                text-align: center;
                position: relative;
                height: 1.28rem;
                line-height: 1.28rem;
                i{
                    position: absolute;
                    right: .266667rem;
                    top: 0;
                    font-size: .64rem;
                }
            }
            .card-content{
                ul{
                    li{
                        margin-bottom: .533333rem;
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: .266667rem;
                        border-bottom: 1px solid rgb(209, 209, 209);
                        p{
                            margin-bottom: 0;
                        }
                        .left{
                            display: flex;
                            img{
                                width: 1.413333rem;
                                height: 1.413333rem;
                            }
                            .info{
                                margin-left: .266667rem;
                                .guige{
                                    .price{
                                        color: red;

                                    }
                                    .kuncun{
                                        margin-left: .266667rem;
                                    }
                                   
                                }
                                .other{
                                    color: #934d91;
                                }
                            }
                        }

                        .right{
                            button{
                                width: .746667rem;
                                height: .746667rem;
                                border-radius: 50%;
                                background-color: #f0f0f0;
                            }
                            span{
                                margin: 0 .266667rem;
                                font-weight: bold;
                            }
                        }
                    }
                }

                .goods_num{
                    text-align: right;
                    span{
                        color: red;
                        margin-left: .266667rem;
                    }
                    em{
                        font-style: normal;
                        color: red;

                    }
                }
                .commit{
                    margin-top: .266667rem;

                    
                    background-color: #934d91;
                    color: white;
                    width: 100%;
                    height: 1.333333rem;
                    line-height: 1.333333rem;
                    font-size: .48rem;
                }
            }
           
        
    }
    
}

button{

    outline:none;
    
}